
@model CuaHangBanDienThoai.Models.Admin_EditVoucher
@using CuaHangBanDienThoai.Common
<link href="~/Content/css/admin/Bill.css" rel="stylesheet" />

@if (Model != null)
{
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
            <div class="shipping-details mb-4 mb-sm-0 clearfix">
                <h5 class="fs-6 mb-3 details__Text">Thông tin voucher</h5>
                <div class="infor__customer">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-data">
                                <b for="">Tiêu đề :</b>
                                <sapn>@Model.Title </sapn>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-data">
                                <b for="">  Ngày bắt đầu :</b>
                                <span class="text-gray-700">
                                    @String.Format("{0:dd/MM/yyyy HH:mm}", Model.StartDate)
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-data">
                                <b for="PhoneCustomer">
                                    Ngày kết thúc :
                                </b>
                                <sapn>  @String.Format("{0:dd/MM/yyyy HH:mm}", Model.EndDate)</sapn>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-data">
                                <b for="">    Tạo bởi:</b>
                                <span class=" ">
                                    @Model.Createdby
                                </span>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-data">
                                <b for="PhoneCustomer">
                                    Ngày tạo :
                                </b>
                                <sapn>  @String.Format("{0:dd/MM/yyyy HH:mm}", Model.CreatedDate)</sapn>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-data">
                                <b for="">    Phần trăm giảm giá :</b>
                                <span class=" text-danger">
                                    @Model.PercentPriceReduction%
                                </span>
                                / đơn (online - tại cửa hàng)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-data">
                                


                                <b for="PhoneCustomer">
                                    Chi tiết :
                                </b>
                                <span id="voucherDetailDisplay_@Model.VoucherId">
                                    <img src="~/images/gif/loading.gif" />
                                </span>
                            </div>
                        </div>
                    </div>



                    @if (Model.Modifiedby != null)

                    {
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-data">
                                    <b for="">Chỉnh sửa bởi :</b>
                                    <sapn>@Model.Modifiedby</sapn>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-data ">
                                    <b>Chỉnh sửa ngày:</b>
                                    <span class="">
                                        <span class="">
                                            @String.Format("{0:dd:MM:yyyy HH:mm:ss}", Model.ModifiedDate)
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    }






                </div>
            </div>
        </div>

        <hr class="col-8 text-center" />

        <div class="col-12 col-sm-12 col-md-12 col-lg-12">

            <b class="fs-6 mb-3 text-left">Danh sách voucher <span class="text-danger">@Model.Items.Count()</span> </b>
            <div class="table-content table-responsive order-table ">
                <table class="table table-hover" style="table-layout: fixed; width: 100%;">
                    <thead>
                        <tr class="text-center">
                            <th class="td__img ">
                                Chi tiết
                            </th>

                        </tr>
                    </thead>
                </table>
            </div>
            <div style="max-height: 320px; overflow-y: auto;">
                <table class="table table-hover" style="table-layout: fixed; width: 100%;">
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr class="text-lg-left">
                                <td class="td__productItem">
                                    <div class="cart__meta-text">
                                        <div class="Describe pt-0">
                                            <p class="text-dark mb-0">
                                                <label>Mã voucher:</label>

                                                @if (ViewBag.IsAdmin != null && (bool)ViewBag.IsAdmin)
                                                {
                                                    @item.Code.Trim()

                                                }
                                                else
                                                {
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"width="18"height="18  " color="red" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
                                                    </svg>

                                                }

                                            </p>
                                            <p class="text-dark mb-0">
                                                <label>Trạng thái:</label>
                                                @Html.Raw(item.Status ? "<span class='text-success'>Đã được dùng</span>" : "<span class='text-danger'>Chưa dùng</span>")
                                            </p>
                                            <p class="text-dark mb-0">
                                                <label>Dùng cho:</label>
                                                @Html.Raw(item.OrderId != 0 && item.orderCustomer != null ?
                                                    $"Đơn hàng #{item.orderCustomer.Code.Trim()}" :
                                                    (item.BillId != 0 && item.bill != null ?
                                                        $"Đơn hàng #{item.bill.Code.Trim()}" :
                                                        "<span class='text-danger'>Chưa dùng</span>"))
                                            </p>
                                            <p class="text-dark mb-0">
                                                <label>Dùng ngày:</label>
                                                @Html.Raw(item.UsedDate != null ?
                                                    $"<span class='text-success'>{item.UsedDate:dd/MM/yyyy HH:mm}</span>" :
                                                    "<span class='text-danger'>Chưa dùng</span>")
                                            </p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>




                </table>
            </div>
        </div>

    </div>
}


<script>
    $(document).ready(function () {
        
        var voucherId = @Model.VoucherId; 

        if (voucherId) {
            $.getJSON('/Admin/Voucher/ConutVoucherDetailnotYetUsed', { id: voucherId }, function (data) {
                const displayTextDetail = `<span class="text-success">Đơn online: ${data.UsedOrerCount}</span> - <span class="text-danger">Đơn cửa hàng: ${data.UsedBillCount}</span>`;
                
                $(`#voucherDetailDisplay_${voucherId}`).html(displayTextDetail);
            }).fail(function () {
              
                $(`#voucherDetailDisplay_${voucherId}`).html("Lỗi load dữ liệu");
            });
        }
    });
</script>
