@model PagedList.PagedList<CuaHangBanDienThoai.Models.ProductDetail>
@using CuaHangBanDienThoai.Common
@using PagedList.Mvc;
@{
    ViewBag.Title = "Cửa hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/client/ProductIndex.css" rel="stylesheet" />
<style>
</style>

<div class="container container_Index ">
    <div class="row">
        <div class="col product_section clearfix">
            <!-- Breadcrumbs -->
            <ul class="breadcrumbs mb-1 pl-0 pt-2 d-flex align-items-center " style="margin:0!important">
                <li class="breadcrumb-item m-0 p-0"><a href="/cua-hang">Sản phẩm</a></li>
            </ul>

            <!-- Sidebar -->

            <div class="sidebar">
                <div class="sidebar_section ">
                    <div class="sidebar_title">
                        <h5>Mục sản phẩm</h5>
                    </div>
                    @Html.Action("MenuLeft", "Menu", new { Alias = ViewBag.Alias })
                </div>
            </div>

            <!-- Main Content -->

            <div class="main_content">

                <!-- Products -->

                <div class="products_iso">
                    <div class="row">
                        <div class="col products_col p-0">

                            <!-- Product Grid -->

                            <div class=" product__grid">
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        @functions {

                                            public decimal CalculateDiscountPercentage(decimal originalPrice, decimal salePrice)
                                            {
                                                if (originalPrice == 0 || salePrice >= originalPrice)
                                                {
                                                    return 0;
                                                }

                                                decimal discount = 1 - (salePrice / originalPrice);
                                                return (int)(discount * 100);
                                            }
                                        }
                                        var strImg = "";
                                        var CheckImage = item.ProductDetailImage.FirstOrDefault(x => x.IsDefault == true);

                                        var Name = item.Products.ProductCategory.Title.Trim() + "   " + item.Products.Title.Trim();
                                        var detail = item.Ram.Trim() + "-" + item.Capacity.Trim();
                                        if (CheckImage != null)
                                        {
                                            strImg = CheckImage.Image;
                                        }
                                        else
                                        {
                                            strImg = "~/Content/css/admin/login/images/logoWeb.png";
                                        }
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-6 mt-2 mb-2  listproduct product__grid__item" id="product-container-@item.ProductsId">
                                            <div class="  product__item" @*style="border: 1px solid #eaecf0 !important; border-radius: 8px !important;"*@>


                                                <a href="/san-pham/@item.Alias" class="product_image__item">
                                                    <img src="@strImg" alt="@Name ">
                                                </a>

                                                @if (item.PriceSale > 0)
                                                {
                                                    <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
                                                        @{
                                                            decimal originalPrice = Convert.ToDecimal(item.Price);
                                                            decimal salePrice = Convert.ToDecimal(item.PriceSale);
                                                            decimal discountPercentage = CalculateDiscountPercentage(originalPrice, salePrice);
                                                        }
                                                        @if (discountPercentage > 0)
                                                        {
                                                            <span>@discountPercentage.ToString("0")%</span>
                                                        }
                                                    </div>
                                                }

                                            <div class="product_info" style="display: flex !important; flex-direction: column !important;  align-items: flex-start !important; ">
                                                <a href="/san-pham/@item.Alias.Trim()" class="pl-0 product_name mb-1" style="">
                                                    <h6 class="product_name mt-0" style=" text-align: center;margin-bottom:0 !important; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">
                                                        @Name.Trim()

                                                    </h6>

                                                </a>

                                                <div class="item-compare gray-bg mb-0">
                                                    <span>Super Retina XDR</span>
                                                    <span> @($"{item.Products.Screensize.Trim()}")" </span>
                                                </div>
                                                @Html.Action("Capacity", "Product", new { productid = item.ProductsId, Capacity = item.Capacity.Trim() })


                                                @if (item.PriceSale > 0)
                                                {
                                                    <div class="price-container">
                                                        <strong class="price">@($"{Common.FormatNumber(item.PriceSale)}đ")</strong>
                                                        <div class="box-p">
                                                            <p class="price-old black">@($"{Common.FormatNumber(item.Price)}đ")</p>
                                                            <span class="percent">
                                                                @{
                                                                    decimal discountPercentage = CalculateDiscountPercentage((decimal)item.Price, (decimal)item.PriceSale);
                                                                    <span class="w-100 p-0 m-0">@($" {discountPercentage}%")</span>
                                                                }
                                                            </span>
                                                        </div>
                                                    </div>

                                                }
                                                else
                                                {
                                            <div class="price-container">
                                                <strong class="price">@($"{Common.FormatNumber(item.Price)}đ")</strong>
                                                
                                            </div>
                                                  
                                                        }

                                                    </div>

                                                    @*<div class="red_button add_to_cart_button">
                <a href="javascript:void(0);" class="btnbuynow btnAddtoCartItem" data-productid="@item.ProductsId">Mua ngay</a>
            </div>*@
                                                </div>
                                        </div>


                                    }
                                }
                                else
                                {
                                    <!-- Handle the case when Model is null -->
                                }
                            </div>


                            <!-- Product Sorting -->
                            <hr />
                            <div class="product_sorting_container product_sorting_container_bottom clearfix">

                                @if (Model != null && Model.Any())
                                {


                                    <div class="pages d-flex flex-row align-items-center pagesGroup">
                                        <div class="col-12 d-flex justify-content-center text-dark">
                                            <nav aria-label="Page navigation">
                                                <ul class="pagination pagination-sm">
                                                    <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                                                        <a class="page-link text-dark" href="@Url.Action("Index", new { page = 1 })" aria-label="First">
                                                            <span aria-hidden="true">Đầu</span>
                                                        </a>
                                                    </li>
                                                    <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                                                        <a class="page-link text-dark" href="@Url.Action("Index", new { page = Model.PageNumber - 1 })" aria-label="Previous">
                                                            <span aria-hidden="true">&laquo;</span>
                                                        </a>
                                                    </li>
                                                    @for (int i = Model.PageNumber; i <= Model.PageNumber + 4 && i <= Model.PageCount; i++)
                                                    {
                                                        <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                                                            <a class="page-link text-dark" href="@Url.Action("Index", new { page = i })">@i</a>
                                                        </li>
                                                    }

                                                    <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                                                        <a class="page-link text-dark" href="@Url.Action("Index", new { page = Model.PageNumber + 1 })" aria-label="Next">
                                                            <span aria-hidden="true">&raquo;</span>
                                                        </a>
                                                    </li>
                                                    <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                                                        <a class="page-link text-dark" href="@Url.Action("Index", new { page = Model.PageCount })" aria-label="Last">
                                                            <span aria-hidden="true">Cuối</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                    <div class="col-12 text-center align-items-center  m-0">
                                        <span class="showing_results m-0">
                                            Hiển thị @Model.FirstItemOnPage – @Model.LastItemOnPage của @Model.TotalItemCount sản phẩm
                                        </span>
                                    </div>
                                }

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).on('click', '.capacity-link', function () {
        const proId = $(this).data('pro-id');
        const productDetailId = $(this).data('product-detail-id');
        const capacity = $(this).data('capacity');

        const detailContainer = $('#product-container-' + productDetailId);
        console.log("proId", proId);
        console.log("productDetailId", productDetailId);
        console.log("capacity", capacity);
        $.ajax({
            url: '@Url.Action("Partial_DetailByCapactity", "ProductDetail")',
            type: 'GET',
            data: {
                proId: proId,
                productDetailId: productDetailId,
                capcity: capacity
            },
            success: function (result) {
                $('#product-container-' + proId).html(result);
             
            },
            error: function () {
                alert('Failed to load product details.');
            }
        });
    });



    $(document).ready(function () {

        $('.sidebar_title h5').click(function (e) {
            e.stopPropagation();
            $('.sidebar_categories').toggleClass('show');
        });


        $(document).click(function (e) {
            if (!$(e.target).closest('.sidebar_categories, .sidebar_title').length) {
                $('.sidebar_categories').removeClass('show');
            }
        });
    });
</script>
