


@model CuaHangBanDienThoai.Models.OrderCustomer
@using CuaHangBanDienThoai.Common
@{
    ViewBag.Title = "Mua hàng thành công" + "  " + ViewBag.Code;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/client/CheckoutSuccess.css" rel="stylesheet" />
<link href="~/Content/css/client/CheckOut.css" rel="stylesheet" />
<br />
<div class="card checkout__success__container border-0 ">
    <div class="checkout-success-content py-2">

        @if (ViewBag.Code != null)
        {
            var AddressDefault = Model.Customer.AddressCustomer.FirstOrDefault(x => x.CustomerId == Model.CustomerId && x.IsDefault == true);



            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 pb-3">
                    <div class="checkout-scard  border-0 rounded">
                        <div class="scardbody text-center">
                            <p class="card-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                                </svg>

                            </p>
                            <h4 class="card-title">  Cảm ơn bạn đã đặt hàng của bạn!    </h4>
                            <p class="card-text mb-1">
                                Bạn sẽ nhận được email xác nhận đơn hàng với các chi tiết về đơn đặt hàng.
                            </p>
                            <p class="card-text mb-1">

                                * Lưu ý: Pada chỉ nhận bảo hành với lỗi từ nhà sản xuất, không bảo hành với các lỗi từ người dùng, lỗi xài sạc nhanh. Cần support hãy nhắn qua Instagram để shop hỗ trợ ạ.
                            </p>
                            <p class="card-text text-order badge bg-success my-3 text-white">Đơn hàng của bạn là :<b>@Model.Code</b> </p>
                            <p class="card-text mb-0">
                                @Model.CreatedDate.ToString("dd/MM/yyyy")
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 pb-3">
                    <div class="shipping-details mb-4 mb-sm-0 clearfix">
                        <h3 class="fs-6 mb-3 details__Text">Thông tin nhận hàng</h3>
                        <div class="infor__customer">
                            <div class=" input-data">
                                <b for="">Người nhận :</b>
                                <sapn>@Model.CustomerName</sapn>
                            </div>
                            <div class="input-data">
                                <b for="PhoneCustomer">
                                    Số Điện Thoại :
                                </b>
                                <sapn>@Model.Phone</sapn>
                            </div>
                            <div class="input-data">
                                <b for="">Email :</b>
                                <sapn>@Model.Email</sapn>
                            </div>
                            <div class="input-data ">

                                <b>Địa Chỉ :</b>
                                <sapn>@Model.Location.Trim()</sapn>
                            </div>
                            <div class="input-data ">
                                <b for="">Ghi chú :</b>
                                <sapn>@(Model.Note??"")</sapn>
                            </div>

                        </div>


                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="checkout-item-ordered">
                        <h2 class="fs-6 mb-3 text-left">Thứ tự sản phẩm</h2>
                        <div class="table-content table-responsive order-table mb-4">
                            <table class="table table-bordered align-middle table-hover text-center mb-0">
                                <thead>
                                    <tr>
                                        <th class="td__img fw-">
                                            Hình
                                        </th>
                                        <th class="td__product">
                                            Sản phẩm
                                        </th>

                                        <th class="td__quantity-price">
                                            Số lượng/ Giá
                                        </th>
                                    </tr>

                                </thead>
                                @Html.Action("Partial_BillDetail", "ShoppingCart", new { id = Model.OrderId })
                            <tfoot>
                                @{

                                    var voucher = Model.VoucherDetail.FirstOrDefault(x => x.OrderId == Model.OrderId);

                                    var orderDetail = Model.OrderDetail.Where(x => x.OrderId == Model.OrderId);
                                    decimal total = 0;
                                    if (orderDetail != null && orderDetail.Any())
                                    {
                                        foreach (var item in orderDetail)
                                        {
                                            total += item.Price;

                                        }
                                    }

                                }



                                @if (voucher != null)
                                {
                                    <tr>
                                        <td colspan="2" class="item subtotal text-end fw-bolder">
                                            Tổng tiền :
                                        </td>
                                        <td class="fw-500 last">
                                            <b class="text-right"><span class="text-gray-200" style="text-decoration: line-through;">@Common.FormatNumber(@total) đ</span></b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="item subtotal text-end fw-bolder">
                                            Tổng tiền sau khi dùng voucher :
                                        </td>
                                        <td class="fw-500 last">
                                            <b class="text-right"><span class="text-danger">@Common.FormatNumber(Model.TotalAmount) đ</span></b>
                                        </td>
                                    </tr>

                                }
                                else
                                {
                                    <tr>
                                        <td colspan="2" class="item subtotal text-end fw-bolder">
                                            Tổng tiền:
                                        </td>
                                        <td class="fw-500 last">
                                            <b class="text-right"><span class="text-danger">@Common.FormatNumber(Model.TotalAmount) đ</span></b>
                                        </td>
                                    </tr>
                                }


                            </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row ">
                <div class="back-to-shop"><a href="/trang-chu">&leftarrow;<span class="text-muted">Về cửa hàng</span></a></div>
            </div>
        }
        else
        {
            <div class="col-12 cart">
                <div class="cart_null">
                    <img src="//theme.hstatic.net/200000420363/1001162486/14/empty_cart.png?v=240" class="text-center img_CarNUll" alt="Không có sản phẩm nào trong giỏ hàng của bạn">
                </div>
                <div class="back-to-shop"><a href="/trang-chu">&leftarrow;<span class="text-muted">Về cửa hàng</span></a></div>
            </div>
        }






    </div>
</div>




