@model IEnumerable<CuaHangBanDienThoai.Models.OrderCustomer>
@using CuaHangBanDienThoai.Common;
@{
    ViewBag.Title = "Tẩt cả đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .tab-pane .card {
        width: 100% !important;
        max-width: 100% !important;
    }

    .container_Index .card {
        width: 100% !important;
        max-width: 100% !important;
    }
</style>


<div class="bg-sg2" style="display: none ">

</div>

<div id="popupBill2" style="display: none">
    <div class="card w-100 p-0 m-0">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div class="card-title">
                <h5>Huỷ đơn hàng</h5>
            </div>
            <div class="card-tools">
                <button class="btn btnCloseEditBill" aria-label="Close">
                    <svg xmlns="http://www.w3.org/2000/svg" style="color:red" width="16" height="16" fill="currentColor" class="bi bi-x-octagon-fill" viewBox="0 0 16 16">
                        <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353zm-6.106 4.5L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="card-body p-1 m-0">
            <div id="loadDataBillEdit">
                <div class="text-center">
                    <img src="~/Content/ckfinder/ckfinder/plugins/gallery/colorbox/images/loading.gif" alt="Loading..." />
                </div>

            </div>
        </div>
    </div>
</div>
<link href="~/Content/css/client/CheckoutSuccess.css" rel="stylesheet" />
<link href="~/Content/css/client/CheckOut.css" rel="stylesheet" />
<link href="~/Content/css/TimeLine.css" rel="stylesheet" />
<div class="container container_Index bg-white" style="min-height:650px; ">
    <ul class="breadcrumbs mb-1 pl-0 pt-2 d-flex align-items-center ">
        <li class="breadcrumb-item m-0 p-0"><a href="/#">Tài khoản</a></li>

        <li class="breadcrumb-item active">Đơn hàng</li>

    </ul>
    @if (Model != null)
    {

        <div class="card" style="width:100% !important">
            <div class="card-header">
                <nav>
                    <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Tất cả đơn</button>
                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Chờ xác nhận</button>
                        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Đơn huỷ</button>
                    </div>
                </nav>
            </div>
            <div class=" p-0 m-0">
                <div class="tab-content  " id="nav-tabContent">
                    <div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                        @foreach (var item in Model)
                        {
                            var voucher = item.VoucherDetail?.FirstOrDefault(x => x.OrderId == item.OrderId);
                            var orderDetail = item.OrderDetail?.Where(x => x.OrderId == item.OrderId);

                            decimal total = 0;
                            if (orderDetail != null && orderDetail.Any())
                            {
                                foreach (var order in orderDetail)
                                {
                                    total += order.Price;

                                }
                            }

                            <div class="card m-1 mb-2  bg-white card_IndexOrder_@item.OrderId" id="card_IndexOrder_@item.OrderId" style="width: 100% !important; border: solid 0.5px lightgray; -moz-border-radius-bottomright: 0px; -moz-border-radius-bottomleft: 0px;">

                                <div class="card-header p-0 pt-1 mt-1 m-1 bg-white">

                                    <div class="steps d-flex flex-wrap flex-sm-nowrap justify-content-between padding-top-2x padding-bottom-1x">
                                        <div class="step mb-2 completed">
                                            <div class="step-icon-wrap">
                                                <div class="step-icon"><i class="bi bi-cart-check-fill"></i></div>
                                            </div>
                                            <h4 class="step-title">Đặt hàng thành công</h4>
                                        </div>
                                        <div class="step mb-2 @( item.OrderStatus == "Đơn huỷ"||item.OrderStatus == "Từ chối" ? "cancel" :   ((bool)item.Confirm ? "completed" : ""))">
                                            <div class="step-icon-wrap">
                                                <div class="step-icon"><i class="bi bi-check-all"></i></div>
                                            </div>
                                            <h4 class="step-title">@(item.OrderStatus== "Đơn huỷ"? "Đơn huỷ" : (item.OrderStatus == "Từ chối" ? "Từ chối" : ((bool)item.Confirm ? "Đã xác nhận" : "Xác nhận")) )</h4>
                                        </div>

                                        <div class="step mb-2 @(item.OrderStatus == "Đã xuất kho" ? "completed" : "")">
                                            <div class="step-icon-wrap">
                                                <div class="step-icon"><i class="bi bi-bank"></i></div>
                                            </div>
                                            <h4 class="step-title">Xuất kho</h4>
                                        </div>

                                        <div class="step mb-2 @(item.OrderStatus=="Đã xuất kho" ? "completed":"")">
                                            <div class="step-icon-wrap">
                                                <div class="step-icon"><i class="bi bi-truck"></i></div>
                                            </div>
                                            <h4 class="step-title">Vận chuyển</h4>
                                        </div>
                                        <div class="step mb-2 @(item.Success == true && item.SuccessDate != null && item.OrderStatus == "Đã xuất kho" ? "completed" : "")">
                                            <div class="step-icon-wrap">
                                                <div class="step-icon"><i class="bi bi-house-heart-fill"></i></div>
                                            </div>
                                            <h4 class="step-title">Thành công</h4>
                                        </div>
                                    </div>

                                </div>

                                <div class="card-body p-0 m-0">
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 pb-3">
                                            <div class="shipping-details mb-4 mb-sm-0 clearfix">
                                                <h3 class="fs-6 mb-3 details__Text">Thông tin nhận hàng</h3>
                                                <div class=" row p-0 m-0">
                                                    <div class="col-lg-6">
                                                        <div class="input-data">
                                                            <b for="">Mã đơn :</b>
                                                            <sapn>@item.Code </sapn>
                                                        </div>
                                                        <div class=" input-data">
                                                            <b for="">Người nhận :</b>
                                                            <sapn>@item.CustomerName</sapn>
                                                        </div>
                                                        <div class="input-data">
                                                            <b for="PhoneCustomer">
                                                                Số Điện Thoại :
                                                            </b>
                                                            <sapn>@item.Phone</sapn>
                                                        </div>
                                                        <div class="input-data">
                                                            <b for="">Email :</b>
                                                            <sapn>@item.Email</sapn>
                                                        </div>
                                                        <div class="input-data ">

                                                            <b>Địa Chỉ :</b>
                                                            <sapn>@item.Location.Trim()</sapn>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="input-data ">
                                                            <b>Trạng thái thanh toán :</b>
                                                            <span class="@(item.TypePayment == 0 ? "text-danger" : "text-success ")    " style="width:50% !important;">
                                                                @(item.TypePayment == 0 ? "COD" : "Đã thanh toán")
                                                            </span>

                                                        </div>

                                                        <div class="input-data ">
                                                            <b>Vận chuyển:</b>
                                                            <span class="">
                                                                @if (item.IsDelivery == true)
                                                                {
                                                                    <span class="bg-danger text-white">
                                                                        Hoả tốc
                                                                    </span>
                                                                }


                                                            </span>
                                                        </div>
                                                        <div class="input-data">
                                                            <b for="PhoneCustomer">
                                                                Ngày đặt :
                                                            </b>
                                                            <sapn>@item.CreatedDate</sapn>
                                                        </div>

                                                        @if (voucher != null)
                                                        {
                                                            <div class="input-data">
                                                                <b for="PhoneCustomer">
                                                                     Áp dụng voucher :
                                                                </b>
                                                                <sapn>@voucher.Code</sapn>
                                                            </div>
                                                        }

                                                    </div>
                                                    <div class="input-data ">
                                                        <b for="">Ghi chú :</b>
                                                        <sapn>@(item.Note??"")</sapn>
                                                    </div>

                                                </div>


                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="checkout-item-ordered">
                                                <h2 class="fs-6 mb-3 text-left">Thứ tự sản phẩm</h2>
                                                <div class="table-content table-responsive order-table mb-4">
                                                    <table class="table table-bordered align-middle table-hover text-center mb-0">
                                                        <thead>
                                                            <tr>
                                                                <th class="td__img fw-">
                                                                    Hình
                                                                </th>
                                                                <th class="td__product">
                                                                    Sản phẩm
                                                                </th>

                                                                <th class="td__quantity-price">
                                                                    Số lượng/ Giá
                                                                </th>
                                                            </tr>

                                                        </thead>
                                                        @Html.Action("Partial_BillDetail", "ShoppingCart", new { id = item.OrderId })
                                                        <tfoot>
                                                         



                                                            @if (voucher != null)
                                                            {
                                                                <tr>
                                                                    <td colspan="2" class="item subtotal text-end fw-bolder">
                                                                        Tổng tiền :
                                                                    </td>
                                                                    <td class="fw-500 last">
                                                                        <b class="text-right"><span class="text-gray-200" style="text-decoration: line-through;">@Common.FormatNumber(@total) đ</span></b>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2" class="item subtotal text-end fw-bolder">
                                                                        Tổng tiền sau khi dùng voucher :
                                                                    </td>
                                                                    <td class="fw-500 last">
                                                                        <b class="text-right"><span class="text-danger">@Common.FormatNumber(item.TotalAmount) đ</span></b>
                                                                    </td>
                                                                </tr>

                                                            }
                                                            else
                                                            {
                                                                <tr>
                                                                    <td colspan="2" class="item subtotal text-end fw-bolder">
                                                                        Tổng tiền:
                                                                    </td>
                                                                    <td class="fw-500 last">
                                                                        <b class="text-right"><span class="text-danger">@Common.FormatNumber(item.TotalAmount) đ</span></b>
                                                                    </td>
                                                                </tr>
                                                            }


                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>



                                <div class="card-footer p-0 m-0 ">
                                    <div class="row m-3">
                                        <div class="col-lg-12 d-flex justify-content-end align-items-center">
                                            <button class="btn btn-success mt-0 btnSuceess me-2   @(item.Success == false && item.OrderStatus == "Đã xuất kho" ? "" : "hide")   " data-id="@item.OrderId" style="width: 120px; padding: 8px;">
                                                Đã nhận được hàng
                                            </button>
                                            <button class="btn btn-danger mt-0    @(item.OrderStatus?.Trim() == "Đơn huỷ"||item.OrderStatus?.Trim() == "Từ chối" ? "" :  "btnCancel") 
                                                     @(item.OrderStatus?.Trim() == "Đã xuất kho" ? "hide" : "")"
                                                    @(item.OrderStatus?.Trim() == "Đơn huỷ"||item.OrderStatus?.Trim() == "Từ chối" ? "disabled" :  "") 
                                                    data-id="@item.OrderId" style="width: 180px; padding: 8px;">
                                                @(item.OrderStatus?.Trim() == "Đơn huỷ" ? "Bạn đã huỷ đơn hàng" :(item.OrderStatus?.Trim() == "Từ chối"? "Đơn đã bị từ chối" : "Huỷ đơn hàng"))
                                            </button>

                                            


                                            <button class="btn btn-danger mt-0 btnReturn  @(item.Success == true && item.OrderStatus == "Đã xuất kho" ? "" : "hide")" data-id="@item.OrderId" style="width: 120px; padding: 8px;">
                                                Trả đơn hàng
                                            </button>


                                        </div>
                                    </div>
                                </div>

                            </div>



                        }


                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                       @Html.Action("Partail_MyOrderNonSuccess", "Cart",new {id = ViewBag.CustomerId})
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        @Html.Action("Partail_MyOrderCancel", "Cart", new { id = ViewBag.CustomerId })
                    </div>
                </div>
            </div>
            <div class="card-footer">

            </div>
        </div>






    }
</div>
<script src="~/Scripts/client/MyOrder.js"></script>

