@model IEnumerable<CuaHangBanDienThoai.Models.ProductDetail>
@using CuaHangBanDienThoai.Common

@if (Model != null)
{<p>Số sản phẩm tìm được <span class="text-danger">@ViewBag.Count</span> theo <b>@ViewBag.key</b></p>
foreach (var item in Model)
{
    @functions {
        public decimal CalculateDiscountPercentage(decimal originalPrice, decimal salePrice)
        {
            if (originalPrice == 0 || salePrice >= originalPrice)
            {
                return 0; // Trả về 0 nếu giá gốc bằng 0 hoặc giá bán lớn hơn hoặc bằng giá gốc
            }

            decimal discount = 1 - (salePrice / originalPrice);
            return discount * 100;
        }
    }
    var strImg = "";
    var CheckImage = item.ProductDetailImage.FirstOrDefault(x => x.IsDefault == true);
    var Name = item.Products.Title.Trim() + " " + item.Ram.Trim() + "/" + item.Capacity.Trim();
    var Detail = item.Ram.Trim() + "   " + item.Capacity.Trim();
    if (CheckImage != null)
    {
        strImg = CheckImage.Image;
    }


    <div class="suggestionsItem row m-0 p-0 pt-2 pb-1">
        <div class="col-lg-3  m-0 p-0 productImg">
            <a href="/san-pham/@item.Alias">
                <img src="@strImg" />
            </a>

        </div>
        <div class="col-md-9 m-0 p-0 productInfo">
            <div class="productName">
                <a href="/san-pham/@item.Alias" class="p-0">
                    @Name
                </a>

            </div>
            <div class="productPrice d-flex">
                @if (item.PriceSale > 0)
                {
                    <p class="priceSale">@Common.FormatNumber(item.PriceSale) đ</p>
                    <p class="originalPrice">@Common.FormatNumber(item.Price) đ</p>
                }
                else
                { <p class="priceSale">@Common.FormatNumber(item.Price) đ</p>
            }

            </div>
            @*<div class="productbuynow">



                    <a href="javascript:void(0);" class=" btnbuynow  btnbuynowSugg  p-0 m-0" style="" data-productid="@item.ProductsId">Mua ngay</a>
                </div>*@

        </div>
    </div>
}

}
else
{

<div class="suggestionsItem row m-0 p-0">
    <div class="d-flex flex-column align-items-center text-center">
        <img src="~/images/logo/CartNull.png" width="100" height="100" alt="Không có sản phẩm nào trong giỏ hàng của bạn" />
        <p class="text-center">Không tìm thấy sản phẩm <b class="text-danger ">@ViewBag.key</b>  </p>

    </div>
</div>

}
