@model CuaHangBanDienThoai.Models.Admin_AddProduct
@{
    ViewBag.Title = "Thêm mới sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<style>
    .error-message {
        display: none;
        color: red;
    }

    .error-border {
        border: 2px solid red;
    }

    label {
        color: black !important;
    }
    .textarea-custom {
        min-height: 450px !important;
    }

</style>


<link href="~/Content/ckeditor5/ckeditor5.css" rel="stylesheet" />

<div class="container-fluid">
    <!-- Page Heading -->

    <div class="row">
        <div class="col-6">
            <h1 class="h3 mb-2 text-gray-800">Hệ thống quản lý </h1>

        </div>
        <div class="col-6 ">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/he-thong-quan-ly">Trang chủ </a></li>
                <li class="breadcrumb-item"><a href="/quan-ly-san-pham">Sản phẩm </a></li>
                <li class="breadcrumb-item active">Thêm mới</li>

            </ol>

        </div>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header bg-white py-3">
            <div class="row">
                <div class="col-2">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Thêm sản phẩm
                    </h6>
                    <hr />
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <form id="myFormProduct" enctype="multipart/form-data">

                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <input type="hidden" id="ImagesJson" name="Items" />
                        <input type="hidden" id="IsGiftCategory" name="IsGiftCategory" />


                        <div class="card">
                            <div class="card-header p-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Thông tin chung</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Hình ảnh</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Mô tả</a></li>

                                </ul>
                            </div><!-- /.card-header -->
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="active tab-pane" id="activity">
                                        <div class="row">
                                            <div class="col-lg-12 ">
                                                <div class="form-group">
                                                    <div id="TitleContainer" class="form-group">
                                                        <label for="exampleInputEmail1">Tên  sản phẩm</label>
                                                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = "Tên sản phẩm", id = "Title" })
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Danh mục sản phẩm</label>
                                                    @Html.DropDownListFor(x => x.ProductCategoryId, ViewBag.ProductCategory as SelectList, "-Chọn danh mục sản phẩm-", new { @class = "form-control", @placeholder = "Dạnh mục sản phẩm" })
                                                    @Html.ValidationMessageFor(x => x.ProductCategoryId, null, new { @class = "text-danger" })
                                                </div>

                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Hãng sản phẩm</label>
                                                    @Html.DropDownListFor(x => x.ProductCompanyId, ViewBag.ProductCompany as SelectList, "-Chọn hãng sản phẩm-", new { @class = "form-control", @placeholder = "Hãng sản phẩm" })
                                                    @Html.ValidationMessageFor(x => x.ProductCompanyId, null, new { @class = "text-danger" })
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 ">
                                                <div class="form-group">
                                                    <div id="TitleContainer" class="form-group">
                                                        <label for="exampleInputEmail1">Chip   </label>
                                                        @Html.TextBoxFor(x => x.CPU, new { @class = "form-control", @placeholder = "Chip máy ", id = "CPU" })
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-6 ">
                                                <div class="form-group">
                                                    <div id="TitleContainer" class="form-group">
                                                        <label for="exampleInputEmail1">Tốc độ Chip</label>
                                                        @Html.TextBoxFor(x => x.CPUspeed, new { @class = "form-control", @placeholder = "Tốc độ Chip", id = "CPUspeed" })
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 ">
                                                <div class="form-group">
                                                    <div id="TitleContainer" class="form-group">
                                                        <label for="exampleInputEmail1">GPU   </label>
                                                        @Html.TextBoxFor(x => x.GPU, new { @class = "form-control", @placeholder = "GPU", id = "GPU" })
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-6 ">
                                                <div class="form-group">
                                                    <div id="TitleContainer" class="form-group">
                                                        <label for="exampleInputEmail1">Tốc độ GPU</label>
                                                        @Html.TextBoxFor(x => x.GPUspeed, new { @class = "form-control", @placeholder = "Tốc độ GPU", id = "GPUspeed" })
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4 ">
                                                <div class="form-group">
                                                    <div id="TitleContainer" class="form-group">
                                                        <label for="exampleInputEmail1">Sim   </label>
                                                        @Html.TextBoxFor(x => x.Sim, new { @class = "form-control", @placeholder = "Sim", id = "Sim" })
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-4 ">
                                                <div class="form-group">
                                                    <div id="TitleContainer" class="form-group">
                                                        <label for="exampleInputEmail1">Hỗ trợ mạng</label>
                                                        @Html.TextBoxFor(x => x.MobileNetwork, new { @class = "form-control", @placeholder = "Tốc độ GPU", id = "MobileNetwork" })
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-4 ">
                                                <div class="form-group">
                                                    <div id="TitleContainer" class="form-group">
                                                        <label for="exampleInputEmail1">Wifi</label>
                                                        @Html.TextBoxFor(x => x.Wifi, new { @class = "form-control", @placeholder = "Wifi", id = "Wifi" })
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 ">
                                                <div class="form-group">
                                                    <div id="TitleContainer" class="form-group">
                                                        <label for="exampleInputEmail1">Bluetooth   </label>
                                                        @Html.TextBoxFor(x => x.Bluetooth, new { @class = "form-control", @placeholder = "Bluetooth", id = "Bluetooth" })
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-6 ">
                                                <div class="form-group">
                                                    <div id="TitleContainer" class="form-group">
                                                        <label for="exampleInputEmail1">Cổng kết nối</label>
                                                        @Html.TextBoxFor(x => x.Connector, new { @class = "form-control", @placeholder = "Cổng kết nối", id = "Connector" })
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">

                                            <div class="col-3 ">
                                                <div class="form-group">
                                                    <div id="TitleContainer" class="form-group">
                                                        <label for="exampleInputEmail1">Loại Pin</label>
                                                        @Html.TextBoxFor(x => x.BatteryType, new { @class = "form-control", @placeholder = "Loại Pin", id = "BatteryType" })
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-3 ">
                                                <div class="form-group">
                                                    <div id="TitleContainer" class="form-group">
                                                        <label for="exampleInputEmail1">Hỗ trợ sạc</label>
                                                        @Html.TextBoxFor(x => x.ChargingSupport, new { @class = "form-control", @placeholder = "Hỗ trợ sạc", id = "ChargingSupport" })
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-3 ">
                                                <div class="form-group">
                                                    <div id="TitleContainer" class="form-group">
                                                        <label for="exampleInputEmail1">Công Nghệ Pin</label>
                                                        @Html.TextBoxFor(x => x.BatteryTechnology, new { @class = "form-control", @placeholder = "Cổng kết nối", id = "BatteryTechnology" })
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-3 ">
                                                <div class="form-group">
                                                    <div id="TitleContainer" class="form-group">
                                                        <label for="exampleInputEmail1">Dung lượng Pin   </label>
                                                        @Html.TextBoxFor(x => x.BatteryCapacity, new { @class = "form-control", @placeholder = "Dung lượng Pin  ", id = "BatteryCapacity" })
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6 ">
                                                <div class="form-group">
                                                    <div id="TitleContainer" class="form-group">
                                                        <label for="exampleInputEmail1">Kích cỡ màn hình  </label>
                                                        @Html.TextBoxFor(x => x.Screensize, new { @class = "form-control", @placeholder = "Kích cỡ màn hình ", id = "Screensize" })
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-6 ">
                                                <div class="form-group">
                                                    <div id="TitleContainer" class="form-group">
                                                        <label for="exampleInputEmail1">Hệ điều hành</label>
                                                        @Html.TextBoxFor(x => x.OperatingSystem, new { @class = "form-control", @placeholder = "Hệ điều hành", id = "OperatingSystem" })
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="tab-pane" id="timeline">
                                        <div class="row">
                                            <div class="col-md-12 text-right">
                                                <input type="button" class="btn btn-primary" id="iTaiAnh" onclick="BrowseServer();" value="Tải ảnh" />
                                            </div>
                                            <div class="col-md-12">
                                                <table class="table table-hover" id="tbAnhSanPham">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center">#</th>
                                                            <th class="text-center">Ảnh</th>
                                                            <th class="text-center">Ảnh đại diện</th>
                                                            <th class="text-center">Thao tác</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbHtml">
                                                    </tbody>
                                                </table>
                                                <input type="hidden" id="tCurrentId" value="0" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="settings">
                                        <div class="form-group">
                                            <label for="txtDetail">Mô tả</label>

                                            @Html.TextAreaFor(x => x.Description, new { @class = "form-control", id = "txtContent", style = "min-height: 450px;" })


                                        </div>
                                    </div>

                                    <!-- /.tab-pane -->
                                </div>
                                <!-- /.tab-content -->
                            </div><!-- /.card-body -->

                        </div> <!-- /.card -->
                        <div class="col-12 text-center">
                            <button type="button" onclick="if(validateForm()) $('#myFormProduct').submit();" class="btn btn-success col-8">Thêm mới</button>
                        </div>

                    </form>

                </div>

            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        CKEDITOR.replace('txtContent', {
            customConfig: '/content/ckeditor/config.js',
            extraAllowedContent: 'span',
            allowedContent: true,
        });

    });
</script>
@section scripts{
    <script src="~/Scripts/admin/js/AddProductCompany.js"></script>
}
