@model PagedList.PagedList<CuaHangBanDienThoai.Models.Products>
@using PagedList.Mvc
@{
    ViewBag.Title = "Quản lý sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    p {
        color: black !important;
    }
</style>

<div class="bg-sg" style="display: none ">

</div>


<div id="popupBill" style="display: none">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div class="card-title">
                <h5>
                    Thông tin đơn hàng
                </h5>
            </div>
            <div class="card-tools">
                <div class="btn btnCloseEditBill">
                    <svg xmlns="http://www.w3.org/2000/svg" style="color:red" width="16" height="16" fill="currentColor" class="bi bi-x-octagon-fill" viewBox="0 0 16 16">
                        <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353zm-6.106 4.5L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div id="loadDataBillEdit">
                <div class="text-center">
                    <img src="~/Content/ckfinder/ckfinder/plugins/gallery/colorbox/images/loading.gif" />
                </div>


            </div>
        </div>

    </div>
</div>

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-6">
            <h1 class="h3 mb-2 text-gray-800">Hệ thống quản lý </h1>
            <p>
                Trang loại sản phẩm
            </p>

        </div>
        <div class="col-6 ">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/he-thong-quan-ly">Trang chủ </a></li>

                <li class="breadcrumb-item active"> Sản phẩm </li>

            </ol>

        </div>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header bg-white py-3">
            <div class="row">
                <div class="col-2">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Quản lý sản phẩm
                        <span class="text-danger "> <label class="text-dark">Tổng số sản phẩm:</label> @ViewBag.Count</span>
                    </h6>
                </div>

                <div class="col-10 text-right">

                    <div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Tìm sản phẩm..."
                                   aria-label="Search" aria-describedby="basic-addon2" id="searchinput" action="@Url.Action("SearchProduct", "Product")" method="get">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" id="searchbtn">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    @if (ViewBag.IsAdmin != null && (bool)ViewBag.IsAdmin)
                    {
                        <a href="/them-san-pham" class="btn btn-success">
                            Tạo mới
                        </a>

                    }


                </div>
            </div>


        </div>
        <div class="card-body " id="loaddata">
            <div class="table-responsive">
                <table class="table align-items-center mb-0">
                    <thead>
                        <tr class="text-gray-100">
                            <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 " style="max-width: 30px;">
                                <input type="checkbox" class="checkAll" />
                            </th>
                            <th class="text-uppercase t text-dark text-xxs font-weight-bolder opacity-7 ">Hình ảnh</th>

                            <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 ps-2">Tên sản phẩm </th>
                            <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 ps-2">Chi tiết</th>
                            <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 ps-2">Hiển thị </th>
                            <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 ps-2">Nổi bật</th>
                            <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 " style="max-width: 260px "></th>




                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            int i = 1;
                            foreach (var item in Model)
                            {

                                string displayAlias = null;
                                string alias = null;
                                if (item.Alias != null)
                                {
                                    int maxLength = 7;
                                    alias = item.Alias;
                                    displayAlias = alias.Length > maxLength ? alias.Substring(0, maxLength) + "..." : alias;

                                }
                                if (item.Alias != null)
                                {
                                    int maxLength = 7;
                                    alias = item.Alias;
                                }
                                var count = item.ProductDetail.Where(x => x.ProductsId == item.ProductsId).Count();
                                var strImg = "";


                                if (item.Image != null)
                                {
                                    strImg = item.Image;
                                }
                                <tr class="w-100" style="width:100%">
                                    <td style="max-width:30px;">
                                        <input type="checkbox" class="cbkItem" value="@item.ProductCompanyId" />@i
                                    </td>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div>
                                                <img src="@strImg" class="avatar avatar-sm me-3 " style="max-width: 150px; max-height: 150px;" alt="@item.Title" />

                                            </div>

                                        </div>
                                    </td>
                                    <td class="align-middle">
                                        <p class=" @*font-weight-bold*@ mb-0">@item.Title</p>
                                        <br />
                                        <div class="copy-container ">
                                            <p>@displayAlias</p>
                                            <button class="copy-button btn btn-success col-12" onclick="copyToClipboard('@alias')">Sao chép</button>
                                        </div>


                                    </td>


                                    <td class="align-middle">
                                        <p class=" ">Danh mục  :<span class="text-gray-700">@item.ProductCategory.Title.Trim()</span></p>
                                        <p class=" ">Hãng :<span class="text-gray-700">@item.ProductCompany.Title.Trim()</span></p>
                                        <p class=" ">Số lượng sản phẩm :<span class="text-gray-700">@(count > 0 ? count.ToString() : "0")</span></p>





                                    </td>
                                    <td class="align-middle " style="height: 100px;">
                                        <div class="toggle d-flex justify-content-center align-items-center" style="width:100%;height: 100%; ">
                                            <label class="toggle" for="toggleIsActive_@item.ProductsId" style="display: flex; align-items: center;">
                                                <span class="text-center" style="white-space: nowrap;">
                                                    <input class="toggle__input check_IsActive" type="checkbox" id="toggleIsActive_@item.ProductsId" @(item.IsActive.GetValueOrDefault() ? "checked" : "")>
                                                    <div class="toggle__fill"></div>
                                                </span>
                                            </label>
                                        </div>
                                    </td>

                                    <td class="align-middle text-center">
                                        <div class="toggle" style="">
                                            <label class="toggle" for="toggleIsHome_@item.ProductsId">
                                                @*<p style="flex: 1;">Hiển thị trang chủ sản phẩm</p>*@
                                                <span class="text-center" style="display: inline-block; flex: 1; white-space: nowrap;">
                                                    <div style="display: flex; align-items: center;">

                                                        <input class="toggle__input check_IsHome" name="" type="checkbox" id="toggleIsHome_@item.ProductsId" @(item.IsHot.GetValueOrDefault() ? "checked" : "")>
                                                        <div class="toggle__fill"></div>
                                                    </div>
                                                </span>
                                            </label>
                                        </div>



                                    </td>

                                    <td class="align-middle p-0 m-0 d-flex flex-column align-items-end" style="max-width:260px;">

                                        <a href="/chi-tiet/@item.Alias" class="btn btn-primary btn-s  mt-4  text-white mb-2" style="min-width: 120px;">Xem</a>
                                        @if (ViewBag.IsAdmin != null && (bool)ViewBag.IsAdmin)
                                        {
                                            <a href="them-san-pham-con/ma-sp@(item.ProductsId)" class="btn btn-success btn-s text-white mb-2" style="min-width: 120px;">Thêm chi tiết</a>
                                            <a href="/sua-sanpham/@item.Alias" class="btn btn-warning btn-s text-white" style="min-width: 120px;">Sửa</a>

                                        }

                                    </td>


                                </tr>
                                i++;
                            }

                        }
                        else
                        {

                            <tr class="text-center text-danger">
                                <td colspan="5">
                                    <p>Không tồn tại bảng ghi nào !!!</p>
                                </td>
                            </tr>
                        }




                    </tbody>
                </table>










            </div>
            @if (Model != null && Model.Any())
            {

                <hr />
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <nav aria-label="Page navigation">
                            <ul class="pagination pagination-sm">
                                <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                                    <a class="page-link" href="#" data-page="1" aria-label="First">
                                        <span aria-hidden="true">Đầu</span>
                                    </a>
                                </li>
                                <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                                    <a class="page-link" href="#" data-page="@(Model.PageNumber - 1)" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                @for (int i = Model.PageNumber; i <= Model.PageNumber + 4 && i <= Model.PageCount; i++)
                                {
                                    <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                                        <a class="page-link" href="#" data-page="@i">@i</a>
                                    </li>
                                }
                                <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                                    <a class="page-link" href="#" data-page="@(Model.PageNumber + 1)" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                                    <a class="page-link" href="#" data-page="@Model.PageCount" aria-label="Last">
                                        <span aria-hidden="true">Cuối</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

            }

            <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/admin/Product.js"></script>

    <script>
        $(document).ready(function () {
            $('body').on('change', '.toggle__input', function () {
                var checkbox = $(this);
                var id = checkbox.attr('id').split('_')[1];
                var isActive = checkbox.is(':checked');
                var toggleType = checkbox.attr('class').split(' ')[1];

                console.log('Checkbox changed:', id, isActive, toggleType);

                var url = '';
                if (toggleType === 'check_IsActive') {
                    url = '/admin/Product/IsActive';
                } else if (toggleType === 'check_IsHot') {
                    url = '/admin/Product/IsHome';
                } 

                $.ajax({
                    url: url,
                    type: 'POST',
                    data: {
                        id: id,
                        isActive: isActive
                    },
                    success: function (rs) {
                        if (rs.success) {
                            console.log('Trạng thái đã được cập nhật thành công');
                        } else {
                            console.error('Cập nhật trạng thái không thành công');
                            checkbox.prop('checked', !isActive);
                            Swal.fire({
                                icon: "warning",
                                title: "Chú ý",
                                text: rs.msg,
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Có lỗi xảy ra khi cập nhật trạng thái.');
                        checkbox.prop('checked', !isActive);
                        Swal.fire({
                            icon: "error",
                            title: "Lỗi",
                            text: "Hệ thống lỗi",
                        });
                    }
                });
            });
        });

    </script>
}
}



