
@model CuaHangBanDienThoai.Models.Admin_EditImport
@using CuaHangBanDienThoai.Common
@{
    ViewBag.Title = "Phiếu nhập" + (ViewBag.Code ?? "");
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<link href="~/Content/css/admin/Bill.css" rel="stylesheet" />

<div class="bg-sgCommet" style="display: none ">

</div>


<div id="popupCommmet" style="display: none">

</div>
<div class="container-fluid">
    @if (Model != null)
    {
        <div class="row">
            <div class="col-6">
                <h1 class="h3 mb-2 text-gray-800">Hệ thống quản lý </h1>

            </div>
            <div class="col-6 ">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/he-thong-quan-ly">Trang chủ </a></li>
                    <li class="breadcrumb-item"><a href="/danh-sach-phieunhap">Phiếu nhập kho </a></li>
                    <li class="breadcrumb-item active">Chi tiết phiếu nhập kho @Model.Code  </li>

                </ol>

            </div>
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header bg-white py-3">
                <div class="row">
                    <div class="col-3">
                        <h6 class="m-0 font-weight-bold text-primary">
                            Thông tin phiếu nhập kho @Model.Code
                            <span class="text-danger "> <label class="text-dark">Tổng số sản phẩm:</label>     <span id="totalCount">@ViewBag.Count</span></span>
                        </h6>
                    </div>

                    <div class="col-9 text-right">



                    </div>
                </div>
               
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
                        <div class="shipping-details mb-4 mb-sm-0 clearfix">

                            <div class="infor__customer text-center">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="input-data">
                                            <b for="">Nhà cung cấp :</b>
                                            <sapn>@Model.supplier.Name.Trim() </sapn>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-data">
                                            <b for="PhoneCustomer">
                                                Mã phiếu   :
                                            </b>
                                            <sapn>@Model.Code</sapn>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="input-data">
                                            <b for="">Người nhận :</b>
                                            <sapn>@Model.employee.NameEmployee.Trim() </sapn>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-data">
                                            <b for="PhoneCustomer">
                                                Ngày tạo phiếu  :
                                            </b>
                                            <sapn>@Model.CreatedDate</sapn>
                                        </div>
                                    </div>
                                </div>
                                @if (Model.Modifiedby != null)

                                {
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="input-data">
                                                <b for="">Chỉnh sửa bởi :</b>
                                                <sapn>@Model.Modifiedby</sapn>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-data ">
                                                <b>Chỉnh sửa ngày:</b>
                                                <span class="">
                                                    <span class="">
                                                        @String.Format("{0:dd:MM:yyyy HH:mm:ss}", Model.ModifiedDate)
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <hr class="col-8 text-center" />

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">

                        <b class="fs-6 mb-3 text-left">Danh sách sản phẩm <span class="text-danger">@Model.Items.Count()</span> </b>
                        <div class="table-content table-responsive order-table ">
                            <table class="table table-hover" style="table-layout: fixed; width: 100%;">
                                <thead>
                                    <tr class="text-center">
                                        <th class=" text-left td__img ">
                                            Hình
                                        </th>
                                        <th class="td__product">
                                            Sản phẩm
                                        </th>

                                        <th class=" td__quantity-price">
                                            Số lượng
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div style="max-height: 450px; overflow-y: auto;">
                            <table class="table table-hover" style="table-layout: fixed; width: 100%;">
                                <tbody>
                                    @foreach (var item in Model.Items)
                                    {
                                        string strImg = "";
                                        var image = item.productDetail.ProductDetailImage.FirstOrDefault(x => x.IsDefault);
                                        if (image != null)
                                        {
                                            strImg = image.Image;
                                        }
                                        else
                                        {

                                            strImg = "~/Content/css/admin/login/images/logoWeb.png";
                                        }
                                        var Name = item.productDetail.Products.Title.Trim() + " " + item.productDetail.Ram.Trim() + "/" + item.productDetail.Capacity.Trim();
                                        <tr class="text-lg-left">
                                            <td class="td__imgItem p-0">
                                                <a href="/san-pham/@item.productDetail.Alias" target="_blank">

                                                    <img class="primary blur-up lazyloaded" src="@strImg" alt="@Name">
                                                </a>

                                            </td>
                                            <td class="td__productItem">
                                                <a href="/san-pham/@item.productDetail.Alias" target="_blank" class="pro-name">

                                                    @Name
                                                    <div class="cart__meta-text">
                                                        <div class="Describe pt-0">
                                                            <p class="text-dark mb-0"><label>Màu sắc:</label> @item.productDetail.Color.Trim()</p>
                                                            <p class="text-dark mb-0"><label>Danh mục:</label> @item.productDetail.Products.ProductCategory.Title.Trim()</p>
                                                            <p class="text-dark mb-0"><label>Hãng :</label>  @item.productDetail.Products.ProductCompany.Title.Trim()</p>
                                                            <p class="text-dark mb-0"><label>Mã :</label>  @item.productDetail.Alias.Trim()</p>
                                                        </div>
                                                    </div>

                                                </a>
                                            </td>

                                            <td class="td__quantity-price__item ">
                                                @item.Quantity
                                            </td>

                                        </tr>


                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-6">
                <h1 class="h3 mb-2 text-gray-800">Hệ thống quản lý </h1>

            </div>
            <div class="col-6 ">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/he-thong-quan-ly">Trang chủ </a></li>
                    <li class="breadcrumb-item"><a href="/loai-san-pham">Danh mục sản phẩm </a></li>

                </ol>

            </div>
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header bg-white py-3">

                <div class="col-12">
                    <p class="text-danger text-danger">
                        Không tồn tại bảng ghi nào !!!
                    </p>
                </div>

            </div>
        </div>
    }

</div>






