
@model CuaHangBanDienThoai.Models.Admin_EditImport
@using CuaHangBanDienThoai.Common
<link href="~/Content/css/admin/Bill.css" rel="stylesheet" />
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div class="card-title">
            <h5 class="fs-6 mb-3 details__Text">Thông tin phiếu nhập kho</h5>
        </div>
        <div class="card-tools">
            <div class="btn btnCloseEditBill">
                <svg xmlns="http://www.w3.org/2000/svg" style="color:red" width="16" height="16" fill="currentColor" class="bi bi-x-octagon-fill" viewBox="0 0 16 16">
                    <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353zm-6.106 4.5L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708" />
                </svg>
            </div>
        </div>
    </div>

    <div class="card-body">
        @if (Model != null)
        {
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
                    <div class="shipping-details mb-4 mb-sm-0 clearfix">
                     
                        <div class="infor__customer text-center">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-data">
                                        <b for="">Nhà cung cấp :</b>
                                        <sapn>@Model.supplier.Name.Trim() </sapn>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-data">
                                        <b for="PhoneCustomer">
                                            Mã phiếu   :
                                        </b>
                                        <sapn>@Model.Code</sapn>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-data">
                                        <b for="">Người nhận :</b>
                                        <sapn>@Model.employee.NameEmployee.Trim() </sapn>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-data">
                                        <b for="PhoneCustomer">
                                            Ngày tạo phiếu  :
                                        </b>
                                        <sapn>@Model.CreatedDate</sapn>
                                    </div>
                                </div>
                            </div>
                            @if (Model.Modifiedby != null)

                            {
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="input-data">
                                            <b for="">Chỉnh sửa bởi :</b>
                                            <sapn>@Model.Modifiedby</sapn>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-data ">
                                            <b>Chỉnh sửa ngày:</b>
                                            <span class="">
                                                <span class="">
                                                    @String.Format("{0:dd:MM:yyyy HH:mm:ss}", Model.ModifiedDate)
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <hr class="col-8 text-center" />

                <div class="col-12 col-sm-12 col-md-12 col-lg-12">

                    <b class="fs-6 mb-3 text-left">Danh sách sản phẩm <span class="text-danger">@Model.Items.Count()</span> </b>
                    <div class="table-content table-responsive order-table ">
                        <table class="table table-hover" style="table-layout: fixed; width: 100%;">
                            <thead>
                                <tr class="text-center">
                                    <th class=" text-left td__img ">
                                        Hình
                                    </th>
                                    <th class="td__product">
                                        Sản phẩm
                                    </th>

                                    <th class=" td__quantity-price">
                                        Số lượng
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div style="max-height: 320px; overflow-y: auto;">
                        <table class="table table-hover" style="table-layout: fixed; width: 100%;">
                            <tbody>
                                @foreach (var item in Model.Items)
                                {
                                    string strImg = "";
                                    var image = item.productDetail.ProductDetailImage.FirstOrDefault(x => x.IsDefault);
                                    if (image != null)
                                    {
                                        strImg = image.Image;
                                    }
                                    else
                                    {

                                        strImg = "~/Content/css/admin/login/images/logoWeb.png";
                                    }
                                    var Name = item.productDetail.Products.Title.Trim() + " " + item.productDetail.Ram.Trim() + "/" + item.productDetail.Capacity.Trim();
                                    <tr class="text-lg-left">
                                        <td class="td__imgItem p-0">
                                            <a href="/san-pham/@item.productDetail.Alias" target="_blank">

                                                <img class="primary blur-up lazyloaded" src="@strImg" alt="@Name">
                                            </a>

                                        </td>
                                        <td class="td__productItem">
                                            <a href="/san-pham/@item.productDetail.Alias" target="_blank" class="pro-name">

                                                @Name
                                                <div class="cart__meta-text">
                                                    <div class="Describe pt-0">
                                                        <p class="text-dark mb-0"><label>Màu sắc:</label> @item.productDetail.Color.Trim()</p>
                                                        <p class="text-dark mb-0"><label>Danh mục:</label> @item.productDetail.Products.ProductCategory.Title.Trim()</p>
                                                        <p class="text-dark mb-0"><label>Hãng :</label>  @item.productDetail.Products.ProductCompany.Title.Trim()</p>
                                                        <p class="text-dark mb-0"><label>Mã :</label>  @item.productDetail.Alias.Trim()</p>
                                                    </div>
                                                </div>

                                            </a>
                                        </td>

                                        <td class="td__quantity-price__item ">
                                            @item.Quantity
                                        </td>

                                    </tr>


                                }
                            </tbody>

                        </table>
                    </div>
                </div>

            </div>
        }

    </div>

</div>






