@model PagedList.PagedList<CuaHangBanDienThoai.Models.Employee>
@using PagedList.Mvc
@using CuaHangBanDienThoai.Common
@{
    ViewBag.Title = "Quản lý nhân viên";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/admin/Bill.css" rel="stylesheet" />
<style>
    p {
        color: black !important;
        white-space: nowrap !important; 
    }

    .hide {
        display: none;
    }
    .loading-image {
       align-items:center;
       justify-items:center;



    }

    .button-text {
        display: inline-block;
    }
</style>
<div class="bg-sg" style="display: none ">

</div>

<div id="popupBill" style="display: none; padding:0;">
    <div class="card" style="height:100%">
        <div id="loadDataBillEdit">
            <div class="text-center">
                <img src="~/images/gif/loading.gif" />

            </div>
            <div class="text-center">
                <p>Đang tải dữ liệu ...</p>
            </div>
        </div>


    </div>
</div>


<div class="container-fluid" >
    <!-- Page Heading -->
    <div class="row">
        <div class="col-6">
            <h1 class="h3 mb-2 text-gray-800">Hệ thống quản lý </h1>
            <p>
                Trang nhân viên
            </p>

        </div>
        <div class="col-6 ">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/hethongquanly">Trang chủ </a></li>

                <li class="breadcrumb-item active"> Nhân viên </li>

            </ol>

        </div>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4" id="loaddata">

        <div class="card-header bg-white py-3">
            <div class="row">
                <div class="col-2">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Quản lý nhân viên

                    </h6>
                    <span class="text-danger "> <label class="text-dark">Tổng số nhân viên:</label> @ViewBag.Count</span>
                </div>

                <div class="col-10 w-100 d-flex justify-content-end align-items-center">
                    <div class="p-0 m-0 w-100 d-flex justify-content-end align-items-center">
                        <div class="form-group app-label d-flex m-0 pr-2">

                            <div class="input-group me-2 align-items-center">
                                <b class="pr-2"> Danh sách chức vụ</b>
                                @Html.DropDownList("FunctionId", (SelectList)ViewBag.Function, "Tất cả",
                                    new { @class = "form-select  bg-light  border-0  p-2", @id = "functionChose" })
                                <div class="input-group-append">
                                    <button class="btn bg-light" type="button" id="clearInputBill">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                                            <path d="M1 1h14a1 1 0 0 1 1 1v1a1 1 0 0 1-.293.707L9 7v6a1 1 0 0 1-.553.894l-2 1a1 1 0 0 1-.894 0l-2-1A1 1 0 0 1 7 13V7L2.293 3.707A1 1 0 0 1 2 3V2a1 1 0 0 1 1-1z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <form class="d-flex align-items-center pr-2">
                            <div class="input-group me-2 align-items-center">
                                <input type="text" class="form-control bg-light border-0 small" placeholder="Tìm nhân viên Tên , Mã nhân viên ..."
                                       aria-label="search" aria-describedby="basic-addon2" id="searchEmp" name="search">
                                <div class="input-group-append">
                                    <button class="btn bg-light" type="button" id="clearInputBill">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" id="searchbtn" style="border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </form>

                        @if (ViewBag.IsAdmin || ViewBag.IsManage)
                        {
                            <a href="/tao-ho-so-nhan-vien" class="btn btn-success ms-3">
                                Tạo hồ sơ nhân viên
                            </a>
                        }
                    </div>

                </div>

            </div>


        </div>
        <div class=" algin-item-center text-center hide loadding">
            <img src="~/images/gif/loading.gif" />
            <span>Tải dữ liệu </span>
        </div>
        <div class="card-body  body" >


            <div class="table-responsive">
                <table class="table align-items-center mb-0">
                    <thead>
                        <tr class="text-gray-100">
                            <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 " style="max-width: 30px;">
                                <input type="checkbox" class="checkAll" />
                            </th>
                            <th class="text-uppercase t text-dark text-xxs font-weight-bolder opacity-7 ">Hình ảnh</th>

                            <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 ps-2">Thông tin nhân viên </th>
                            <th class=" @(ViewBag.IsAdmin!=null && (bool)ViewBag.IsAdmin ?"text-uppercase text-center text-dark text-xxs font-weight-bolder opacity-7 ps-2   ":"hide")">Tài khoản </th>

                            <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 ps-2" style="width: 150px;"></th>


                            @*<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Employed</th>*@
                            <th class="text-secondary opacity-7" style="max-width:75px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {



                            int i = 1;
                            foreach (var item in Model)
                            {


                                var functionTitle = item.tb_Function?.TitLe ?? "Chưa xác định";



                                <tr>
                                    <td style="max-width:30px;">
                                        <input type="checkbox" class="cbkItem" value="@item.EmployeeId" />@i
                                    </td>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div>

                                                <img src="@(item.Image != null ? Url.Content("~/UploadsEmp/Image/" + item.Image) : Url.Content("/images/logo/logo2.png"))"
                                                     class="avatar avatar-sm me-3"
                                                     style="max-width: 100px; max-height: 100px; border-radius: 50%; object-fit: cover;"
                                                     alt="@item.NameEmployee.Trim()" />
                                            </div>
                                        </div>

                                    </td>
                                    <td class="align-middle">
                                        <h5 style="color:black !important">@item.NameEmployee.Trim()</h5>

                                        <p class=" ">Mã nhân viên:<span class="text-gray-700">@(item.AccountEmployee.Code.Trim())</span></p>
                                        <p class=" ">Chức vụ:<span class="text-gray-700">@(functionTitle?.Trim())</span></p>
                                        <p class=" ">Số điện thoại :<span class="text-gray-700">@item.PhoneNumber.Trim()</span></p>


                                        <p> Email:<span class="text-gray-700">@item.Email.Trim()</span> </p>



                                    </td>
                                    <td class="  @(ViewBag.IsAdmin!=null && (bool)ViewBag.IsAdmin ?"align-middle  justify-content-center align-items-center   ":"hide")" style="height: 100px;">
                                        <div class="d-flex w-100  justify-content-center align-items-center">
                                            <span class="mr-2">
                                                Mở
                                            </span>
                                            <div class="toggle d-flex justify-content-center align-items-center mt-2">
                                                <label class="toggle" for="toggleIsLock_@item.EmployeeId" style="display: flex; align-items: center;">
                                                    <span class="text-center" style="white-space: nowrap;">
                                                        <input class="toggle__input check_IsLock" type="checkbox" id="toggleIsLock_@item.EmployeeId" @(item.AccountEmployee.IsLock.GetValueOrDefault() ? "checked" : "")>
                                                        <div class="toggle__fill"></div>
                                                    </span>
                                                </label>
                                            </div>
                                            <span class="ml-2">
                                                Khoá
                                            </span>
                                        </div>

                                    </td>

                                    <td class="align-middle p-0 m-0 d-flex justify-content-center align-items-center"
                                        style="max-width: 150px; width: 150px;">

                                        <div class="d-flex flex-column align-items-center justify-content-center text-center mt-5">
                                            <button type="button"
                                                    class="btn btn-primary btn-s mt-1 mb-2 text-white btnDetail" data-id="@item.EmployeeId"
                                                    style="min-width: 110px;">
                                                Xem
                                            </button>
                                            @if (ViewBag.IsAdmin != null && (bool)ViewBag.IsAdmin)
                                            {
                                                <button type="button"
                                                        class='btn btn-warning btn-s mb-2 text-white btnEdit' data-id="@item.EmployeeId"
                                                        style="min-width: 110px;">
                                                    Cập nhập
                                                </button>
                                                <button type="button"
                                                        class="btn btn-danger btn-s text-white btnResetPass d-flex justify-content-center align-items-center p-0"
                                                        data-id="@item.EmployeeId"
                                                        style="min-width: 110px;">
                                                    <img src="~/images/gif/Spinnerloading.gif" class="loading-image" style="width: 38px; height: auto; display:none" />
                                                    <span class="m-1 button-text">Reset pass</span>
                                                </button>

                                            }

                                        </div>

                                    </td>


                                </tr>
                                i++;
                            }

                        }
                        else
                        {

                            <tr class="text-center text-danger">
                                <td colspan="5">
                                    <p>Không tồn tại bảng ghi nào !!!</p>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>










            </div>
            @if (Model != null && Model.Any())
            {

                <hr />
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <nav aria-label="Page navigation">
                            <ul class="pagination pagination-sm">
                                <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                                    <a class="page-link" href="#" data-page="1" aria-label="First">
                                        <span aria-hidden="true">Đầu</span>
                                    </a>
                                </li>
                                <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                                    <a class="page-link" href="#" data-page="@(Model.PageNumber - 1)" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                @for (int i = Model.PageNumber; i <= Model.PageNumber + 4 && i <= Model.PageCount; i++)
                                {
                                    <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                                        <a class="page-link" href="#" data-page="@i">@i</a>
                                    </li>
                                }
                                <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                                    <a class="page-link" href="#" data-page="@(Model.PageNumber + 1)" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                                    <a class="page-link" href="#" data-page="@Model.PageCount" aria-label="Last">
                                        <span aria-hidden="true">Cuối</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

            }


        </div>
    </div>
</div>



@section scripts{
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="~/Scripts/admin/Employee_Index.js"></script>
}