@model CuaHangBanDienThoai.Models.Admin_EditEmployee
@using CuaHangBanDienThoai.Common;


<style>
    .card {
        position: relative;
    }

    .status-locked-left {
        position: absolute;
        top: 10px;
        left: -30px; /* Di chuyển nhẹ ra ngoài để trông đẹp mắt hơn */
        background-color: rgba(255, 0, 0, 0.8);
        color: white;
        padding: 5px 20px;
        font-weight: bold;
        font-size: 14px;
        text-align: center;
        transform: rotate(-45deg); /* Tạo góc chéo */
        z-index: 1;
        width: 150px;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    }
</style>
<div class="card-header d-flex justify-content-between align-items-center">
    <div class="card-title">
        <h5 class="mb-0">
            Cập nhập nhân viên
        </h5>
    </div>
    <div class="card-tools">
        <div class="btn btnCloseEditBill">
            <svg xmlns="http://www.w3.org/2000/svg" style="color:red" width="16" height="16" fill="currentColor" class="bi bi-x-octagon-fill" viewBox="0 0 16 16">
                <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353zm-6.106 4.5L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708" />
            </svg>
        </div>
    </div>
</div>
@if (Model != null)
{
    <div class="card-body pt-0 pb-0">
        <form id="EditEmployee" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.EmployeeId)
            @Html.HiddenFor(model => model.CreatedBy)
            @Html.HiddenFor(model => model.CreatedDate)
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 p-0 pb-3">
                    <div class="shipping-details mb-0 mb-sm-0 clearfix">
                        <nav>
                            <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Thông tin chung</button>
                              </div>
                        </nav>

                        <div class="tab-content  " id="nav-tabContent">
                            <div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                                <div class="pt-1 p-3 ">

                                    @if (Model != null)
                                    {
                                        <div class="row mb-3">
                                            <div class="col-lg-4">
                                                <div class="card ">
                                                    <div class="card-body text-center">
                                                        @*<img src="~/images/logo/logoweb.png" />*@
                                                        <img src="@(Model.Image != null ? Url.Content("~/UploadsEmp/Image/" + Model.Image) : Url.Content("/images/logo/logo2.png"))" alt="PadaMinStore"
                                                             class="rounded-circle img-fluid" style="width: 150px;">
                                                        <h5 class="my-3">@Model.NameEmployee.Trim()</h5>
                                                        <p class="text-muted mb-1">Mã nhân viên : @Model.Code.Trim()</p>
                                                        <p class="text-muted mb-1">Chức vụ hiện tại : @Model.TitleFuntion.Trim()</p>
                                                        <p class="text-muted mb-1">Ngày vào làm : @Model.CreatedDate.ToString("dd/MM/yyyy")</p>
                                                        <p class="text-muted mb-1">Tiếp nhận : @Model.CreatedBy.Trim()</p>
                                                        <div class="d-flex justify-content-center mb-2">
                                                            <button type="button" class="btn btn-warning btnChangePass">Cập nhập mật khẩu</button>
                                                            <button type="button"  class="btn btn-primary ms-1">Tin nhắn</button>
                                                        </div>
                                                    </div>
                                                    @if (Model.IsLock == true)
                                                    {
                                                        <div class="status-locked-left">
                                                            Đã bị khóa
                                                        </div>
                                                    }

                                                </div>

                                            </div>
                                            <div class="col-lg-8">
                                                <div class="card m-0 w-100  mb-4" style="min-height:332px;">
                                                    <div class="card-header d-flex justify-content-between align-items-center">
                                                        <div class="card-title">
                                                            <h5 class="mt-1">
                                                                Thông tin chung
                                                            </h5>
                                                        </div>

                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="input-data">
                                                                    <b for="">Tên nhân viên :</b>
                                                                    <input type="text" name="NameEmployee" id="NameEmployee" value="@Model.NameEmployee.Trim()" required>
                                                                    <div class="underline"></div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="input-data">
                                                                    <b for="">Chức vụ  :</b>
                                                                    @Html.DropDownListFor(x => x.FunctionId, ViewBag.Function as SelectList, "-Chọn danh mục chức năng-", new { @class = "form-control", @placeholder = "Chức Năng Nhân Viên" })
                                                                    @Html.ValidationMessageFor(x => x.FunctionId, null, new { @class = "text-danger" })
                                                                    <div class="underline"></div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="input-data">
                                                                    <b for="">Email nhân viên :</b>
                                                                    <input type="text" name="Email" id="Email" value="@Model.Email.Trim()" required>
                                                                    <div class="underline"></div>
                                                                </div>

                                                            </div>

                                                        </div>
                                                        <hr>
                                                        <div class="row">

                                                            <div class="col-sm-12">
                                                                <div class="input-data">
                                                                    <b for="">Số điện thoại :</b>
                                                                    <input type="number" name="PhoneNumber" id="PhoneNumber" value="@Model.PhoneNumber.Trim()" required>
                                                                    <div class="underline"></div>
                                                                </div>

                                                            </div>

                                                        </div>                            <hr>
                                                        <div class="row">

                                                            <div class="col-sm-12">
                                                                <div class="input-data">
                                                                    <b for="">Ngày sinh :</b>

                                                                    <input type="date" name="Birthday" id="birthdayInput" class="form-control bg-light border-0 small" value="@String.Format("{0:yyyy-MM-dd}", Model.Birthday)"
                                                                           aria-label="Search" aria-describedby="basic-addon2" onchange="updateHiddenBirthday()" required>
                                                                    <div class="underline"></div>
                                                                </div>

                                                            </div>


                                                        </div>
                                                        <hr>
                                                        <div class="row">

                                                            <div class="col-sm-12">
                                                                <div class="input-data">
                                                                    <b for="">Giới tính :</b>
                                                                    @if (ViewBag.SexOptions != null)
                                                                    {
                                                                        @Html.DropDownListFor(
                                                                        x => x.Sex,
                                                                        ViewBag.SexOptions as SelectList ?? new SelectList(Enumerable.Empty<SelectListItem>(), "Value", "Text"),
                                                                        "-Giới tính nhân viên-",
                                                                        new { @class = "form-control", id = "Ram" })
                                                                        @Html.ValidationMessageFor(x => x.Sex, "", new { @class = "text-danger" })
                                                                    }
                                                                 
                                                                </div>

                                                            </div>


                                                        </div>


                                                        <hr>
                                                        <div class="row">
                                                            @if (ViewBag.IsAdmin != null && (bool)ViewBag.IsAdmin)
                                                            {
                                                                <div class="col-sm-12">
                                                                    <div class="input-data">
                                                                        <b for="">Lương :</b>
                                                                        <input type="text" name="Wage" id="Wage"
                                                                               value="@Model.Wage"
                                                                               class="form-control auto"
                                                                               data-a-dec="," data-a-sep=".">
                                                                        @Html.HiddenFor(x => x.Wage, new { @placeholder = "Giá" })
                                                                        @Html.ValidationMessageFor(x => x.Wage, null, new { @class = "text-danger" })




                                                                        <div class="underline"></div>
                                                                    </div>

                                                                </div>


                                                            }

                                                        </div>
                                                    </div>


                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-md-12 p-0">

                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <div class="pt-1 p-3">

                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                <div class="p-3">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
}