@model CuaHangBanDienThoai.Models.Employee
@using CuaHangBanDienThoai.Common;

<style>
    .card {
        position: relative;
    }

    .hide {
        display: none;
    }

    .status-locked-left {
        position: absolute;
        top: 10px;
        left: -30px; /* Di chuyển nhẹ ra ngoài để trông đẹp mắt hơn */
        background-color: rgba(255, 0, 0, 0.8);
        color: white;
        padding: 5px 20px;
        font-weight: bold;
        font-size: 14px;
        text-align: center;
        transform: rotate(-45deg); /* Tạo góc chéo */
        z-index: 1;
        width: 150px;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    }


    .cardheader {
        position: relative;
    }

    .position-absolute {
        z-index: 10;
    }

    .conlan {
        max-height: 380px;
        overflow-y: auto;
    }
</style>
<div class="card-header d-flex justify-content-between align-items-center">
    <div class="card-title">
        <h5 class="mb-0">
            Thông tin nhân viên
        </h5>
    </div>
    <div class="card-tools">
        <div class="btn btnCloseEditBill">
            <svg xmlns="http://www.w3.org/2000/svg" style="color:red" width="16" height="16" fill="currentColor" class="bi bi-x-octagon-fill" viewBox="0 0 16 16">
                <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353zm-6.106 4.5L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708" />
            </svg>
        </div>
    </div>
</div>

@if (Model != null)
{
    <div class="card-body pt-0 pb-0 p-1 m-0 w-100">
        <div class="card p-0 m-0 w-100">
            <div class="card p-0 m-0 w-100">
                <div class="card-header overflow-hidden text-center align-items-center cardheader p-0 m-0 w-100 bg-white position-relative">
                    <!-- Vùng chứa nút ở góc phải -->
                    <div class="position-absolute" style="top: 10px; right: 10px;">
                        <button type="button" class="btn btn-danger btnChangePass btnResetPass
    @(
        (ViewBag.IsAdmin != null && (bool)ViewBag.IsAdmin) ||
        (ViewBag.IsManage != null && (bool)ViewBag.IsManage && ViewBag.TargetRole != "Quản trị viên" && ViewBag.TargetRole != "Quản lý")
        ? "" : "hide"
    )" data-id="@Model.EmployeeId">
                            <img src="~/images/gif/Spinnerloading.gif" class="loading-image" style="width: 38px; height: auto; display:none" />
                            <span class="m-0 button-text">Reset pass</span>
                        </button>

                        <button type="button" class="btn btn-primary ms-1">Tin nhắn</button>
                    </div>

                    <div class="row pt-2 justify-content-center">
                        <div class="col-12 text-center">
                            <img src="@(Model.Image != null ? Url.Content("~/UploadsEmp/Image/" + Model.Image) : Url.Content("/images/logo/logo2.png"))"
                                 alt="PadaMinStore" class="rounded-circle img-fluid" id="defaultImage" style="width: 150px; cursor: pointer;">



                            <h5 class="my-3">@Model.NameEmployee.Trim()</h5>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-6 text-lg-end" style="float:inline-end">
                            <p class="mb-1">Mã nhân viên: @Model.AccountEmployee.Code.Trim()</p>
                            <p class="mb-1">Chức vụ hiện tại: @Model.tb_Function.TitLe.Trim()</p>
                        </div>

                        <div class="col-md-6 text-md-start">
                            <p class="mb-1 text-md-start">Ngày vào làm: @Model.CreatedDate.ToString("dd/MM/yyyy")</p>
                            <p class="mb-1 text-md-start">Quản lý bởi :<span class="text-danger"> @(ViewBag.Manager??"")</span>
                            
                          
                            
                            </p>
                        </div>
                    </div>


                </div>
                @if (Model.AccountEmployee.IsLock == true)
                {
                    <div class="status-locked-left">
                        Đã bị khóa
                    </div>
                }
            </div>



            <nav>
                <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Thông tin chung</button>
                </div>
            </nav>
            <div class="card-body    m-0 p-0 w-100 row text-center align-items-center  conlan" style="overflow-x: hidden;">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12  m-0 p-0 w-100">
                    <div class="shipping-details m-0 p-0 w-100 clearfix">


                        <div class="tab-content p-1 m-1 w-100   " id="nav-tabContent">
                            <div class="tab-pane fade active show    pt-1 " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                                <div class=" row  p-1">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12   ">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="input-data">
                                                    <b for="">Tên nhân viên :</b>
                                                    <span>@Model.NameEmployee.Trim()</span>
                                                    <div class="underline"></div>
                                                </div>

                                            </div>
                                        </div>
                                        <hr>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="input-data">
                                                    <b for="">Email nhân viên :</b>
                                                    <span>@Model.Email.Trim()</span>
                                                    <div class="underline"></div>
                                                </div>

                                            </div>

                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="input-data">
                                                    <b for="">Số căn cước công dân  :</b>
                                                    <span>@Model.CitizenIdentificationCard.Trim()</span>
                                                    <div class="underline"></div>
                                                </div>

                                            </div>

                                        </div>
                                        <hr>
                                        <div class="row">

                                            <div class="col-sm-12">
                                                <div class="input-data">
                                                    <b for="">Số điện thoại :</b>
                                                    <span>@Model.PhoneNumber.Trim()</span>
                                                </div>

                                            </div>

                                        </div>
                                        <hr>
                                        <div class="row">

                                            <div class="col-sm-12">
                                                <div class="input-data">
                                                    <b for="">Ngày sinh :</b>
                                                    <span>@Model.Birthday.ToString("dd/MM/yyyy")</span>

                                                    <div class="underline"></div>
                                                </div>

                                            </div>


                                        </div>
                                        <hr>
                                        <div class="row">

                                            <div class="col-sm-12">
                                                <div class="input-data">
                                                    <b for="">Giới tính :</b>
                                                    @Model.Sex.Trim()
                                                </div>

                                            </div>


                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="input-data">
                                                    <b for="">Địa chỉ :</b>
                                                    <span>@Model.Location.Trim()</span>

                                                    <div class="underline"></div>
                                                </div>

                                            </div>
                                        </div>

                                        <hr>
                                        <div class="row">
                                            @if (ViewBag.IsAdmin != null && (bool)ViewBag.IsAdmin)
                                            {
                                                <div class="col-sm-12">
                                                    <div class="input-data">
                                                        <b for="">Lương :</b>
                                                        <span>  @Common.FormatNumber(Model.Wage) đ</span>


                                                        <div class="underline"></div>
                                                    </div>

                                                </div>


                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="card-footer row">
                <div class="col-8 col-sm-8 col-md-8 col-lg-8 mx-auto d-flex justify-content-center align-items-center">
                    <button type="button" class="btn btn-success d-flex align-items-center justify-content-center w-100" data-id="@Model.EmployeeId" id="saveEmployee" style="height: 50px;">
                        <img src="~/images/gif/Spinnerloading.gif" class="loading-image " style="width: 45px; height: 45px; display: none; " />

                        <span class="button-text ">Cập nhật nhân viên @Model.NameEmployee.Trim()</span>
                    </button>
                </div>
            </div>





        </div>

    </div>

}

@*<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script src="~/Scripts/admin/Employee_Index.js"></script>*@