
@model IEnumerable<CuaHangBanDienThoai.Models.ProductDetail>
@using CuaHangBanDienThoai.Common
<link href="~/Content/css/client/MenuTop.css" rel="stylesheet" />
<style>
    .product__item {
       
        border: none !important;
        box-shadow: none !important;
    }

    .price-container {
        display: flex; 
        align-items: center; 
        justify-content: center; 
        text-align: center; 
        padding: 10px; 
    }

    .listproduct .item-compare {
        font-size: 0;
        margin-bottom: 5px;
    }


        .listproduct .item-compare span {
            background: #f2f4f7;
            border: none;
            color: #667085;
        }

        .listproduct .item-compare.gray-bg span {
            border: 1px solid #eaeaea;
            background: #eaeaea;
        }

        .listproduct .item-compare span {
            border: 1px solid #e0e0e0;
            border-radius: 2px;
            color: #333;
            display: inline-block;
            font-size: 12px;
            line-height: 12px;
            margin-right: 5px;
            padding: 4px 5px;
            white-space: nowrap;
        }

</style>
@if (Model != null && Model.Any())
{
    <div class="row">
        <div class="col text-center pb-1">
            <div class="section_title text-uppercase">
                <h4>sản phẩm bán chạy </h4>
            </div>
        </div>
    </div>
    <div class="row mt-3">

        <div class="swiper product-swiper p-1" style="z-index: 50; border: none !important; box-shadow: none !important;">

            <div class="swiper-wrapper">
                @foreach (var item in Model)
                {

                    @functions {

                        public decimal CalculateDiscountPercentage(decimal originalPrice, decimal salePrice)
                        {
                            if (originalPrice == 0 || salePrice >= originalPrice)
                            {
                                return 0;
                            }

                            decimal discount = 1 - (salePrice / originalPrice);
                            return (int)(discount * 100);
                        }
                    }
                    var strImg = "";
                    var CheckImage = item.ProductDetailImage.FirstOrDefault(x => x.IsDefault == true);
                    var Name = item.Products.ProductCategory.Title.Trim() + "   " + item.Products.Title.Trim();
                    var Detail = item.Ram.Trim()+ "   " + item.Capacity.Trim();
                    if (CheckImage != null)
                    {
                        strImg = CheckImage.Image;
                    }
                    <div class="swiper-slide  listproduct" style="border: none !important; box-shadow: none !important;">
                        <a href="/san-pham/@item.Alias" class="p-0">
                            <div class="product-card position-relative" style="border:none !important;box-shadow:none!important;">
                                <div class="product_image__item">
                                    <img src="@strImg" width="20" height="20" alt="@Name ">
                                </div>
                                @*<div class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center "><span>new</span></div>*@

                                @if (item.PriceSale > 0)
                                {
                                    <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
                                        @{
                                            decimal originalPrice = Convert.ToDecimal(item.Price);
                                            decimal salePrice = Convert.ToDecimal(item.PriceSale);
                                            decimal discountPercentage = CalculateDiscountPercentage(originalPrice, salePrice);
                                        }
                                        @if (discountPercentage > 0)
                                        {
                                            <span>@discountPercentage.ToString("0")%</span>
                                        }
                                    </div>
                                }

                            <div class="product_info">
                                <div class="pl-0 product_name mb-1" style="max-height: 15px !important;">
                                    <h5 class="product_name mt-2" style="text-align: center; margin-bottom: 0 !important; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">
                                        @Name.Trim()
                                    </h5>
                                    <p class="align-items-center text-center mb-0">@Detail</p>
                                </div>

                                <br />


                                <div class="item-compare gray-bg mt-2 mb-0">
                                    <span>Super Retina XDR</span>
                                    <span> @($"{item.Products.Screensize.Trim()}")" </span>
                                </div>
                                @if (item.PriceSale > 0)
                                {
                                    <div class="price-container pl-0 pr-0">
                                        <strong class="price">@($"{Common.FormatNumber(item.PriceSale)}đ")</strong>
                                        <div class="box-p">
                                            <p class="price-old black">@($"{Common.FormatNumber(item.Price)}đ")</p>

                                        </div>
                                    </div>

                                }
                                else
                                {
                                    <div class="price-container pl-0 pr-0">
                                        <strong class="price">@($"{Common.FormatNumber(item.Price)}đ")</strong>

                                    </div>

                                }
                            </div>
                            </div>
                        </a>
                        @*<a href="javascript:void(0);" class=" btnbuynow  btnAddtoCartTop  p-0 m-0" style="z-index:15;" data-productid="@item.ProductsId">Mua ngay</a>*@
                    </div>
                }
            </div>
        </div>
    </div>


}
else
{
    <div class="container">
        <div class="" style="display:none">

        </div>
    </div>

}

