@model List<CuaHangBanDienThoai.Models.Bill>
@using CuaHangBanDienThoai.Common;
<style>
    .table-scroll {
        max-height: 680px; 
        overflow-y: auto;
    }

    thead th,
    tbody td {
        text-align: center; 
    }

    table {
        table-layout: fixed; 
        width: 100%; 
    }

    thead th {
        position: sticky; 
        top: 0;
        background-color: #f8f9fa; 
        z-index: 2; 
    }
    .table-scroll::-webkit-scrollbar {
        width: 0px; 
    }

    .table-scroll {
        scrollbar-width: none;
    }
</style>
<div class="row p-0 ml-1 mr-1 pb-4 mt-3 w-100" >
    <div class="card w-100">
        <div class="card-header bg-white py-3">
            <div class="row">
                <div class="col-2 "id="loadTitle">
                    <h6 class="m-0 font-weight-bold text-primary">
                      Hoá đơn của bạn
                    </h6>
                </div>

                <div class="col-10 text-right">


                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="datetime-local" class="form-control bg-light border-0 small" placeholder="Tìm đơn hàng..."
                                   aria-label="Search" aria-describedby="basic-addon2" id="DateBill">
                            <div class="input-group-append">
                                <button class="btn bg-light btnclearSBill"data-employeeid="@(ViewBag.EmployeeId??"")" type="button" id="clearInputBill">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                                    </svg>
                                </button>
                            </div>

                        </div>
                    </form>

                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" id="searchBill" placeholder="Tìm đơn hàng..."
                                   aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn bg-light btnclearSBill"data-employeeid="@(ViewBag.EmployeeId??"")"  type="button" id="clearInputBill">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                                    </svg>
                                </button>
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                  
                </div>
            </div>

        </div>
        <div class="card-body p-0 m-0 w-100" style="">
            <table class="table table-bordered mb-0" id="dataTable" style="table-layout: fixed; width: 100%;">
                <thead>
                    <tr class="text-center">
                        <th style="width: 10%;">Mã đơn</th>
                        <th style="width: 30%;">Khách hàng</th>
                        <th style="width: 30%;">Sản phẩm</th>
                        <th style="width: 20%;">Tổng tiền</th>
                        <th style="width: 10%;"></th>
                    </tr>
                </thead>
            </table>
            <div class="table-scroll" id="loadbill">

                <div class="text-center loadding"> <img src="/images/gif/loading.gif"style="display:none" /></div>
                <table class="table table-bordered" id="dataTableBody" style="table-layout: fixed; width: 100%;">
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {

                              
                                <tr class="row_content tr_IndexBill_@item.BillId" id="tr_IndexBill_@item.BillId">
                                    <td class="code-container" style="width: 10%;">
                                        <span class="code-text">@item.Code.Trim()</span>
                                    </td>
                                    <td style="width: 30%;">
                                        <div class="row">
                                            <b>
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                                :
                                            </b> @item.Customer.CustomerName.Trim()
                                        </div>
                                        <div class="row">
                                            <b><i class="fa fa-phone-square" aria-hidden="true"></i> :</b> @item.Customer.PhoneNumber.Trim()
                                        </div>
                                       
                                        <div class="row">
                                            <b><i class="fa fa-calendar" aria-hidden="true"></i>:</b> @String.Format("{0:dd/MM/yyyy HH:mm:ss}", item.CreatedDate)

                                        </div>
                                        <div class="row">
                                            <b>
                                                Nhân viên bán hàng :
                                            </b> @item.Employee.NameEmployee.Trim()
                                        </div>
                                    </td>
                                    <td style="width: 30%;">@Html.Action("Partail_BillDetail", "Seller", new { billid = item.BillId })</td>
                                    <td style="width: 20%;">@($"{Common.FormatNumber(item.TotalAmount)}đ")</td>
                                    <td class=" align-items-center" style="width: 10%;">
                                        <button type="button" class="btn btn-warning d-flex align-items-center justify-content-center w-100 btnupdatebill"
                                                data-billid="@item.BillId" style="height: 40px;">
                                            <img src="~/images/gif/Spinnerloading.gif" class="loading-image" style="width: 45px; height: 45px; display: none;" />
                                            <span class="button-text">Cập nhật</span>
                                        </button>
                                    </td>

                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>



        </div>
        </div>
</div>


